html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.alien-head{
    width: 800px;
    position: relative;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.head-top{
    width: 500px;
    height: 250px;
    border-top-left-radius:500px;
    border-top-right-radius: 500px;
    background-color: black;
    justify-content: center;
    display:flex;
}

.ellipse {
    top: 40px;
    width: 100px;
    height: 40px;
    background: radial-gradient(white,rgb(131, 131, 131) );
    border-radius: 70%;
    margin-top: 15px;
}

.head-separator{
    width:520px;
    height: 15px;
    background-color: black;
    border-radius: 5px 5px 5px 5px;
}

.mouth-container {
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 22, 22);
    border-radius: 0 0 50px 50px;
}

.teeth {
    width: 50%;
    height: 60%;
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: space-between;
}

.tooths {
    width: 100%;
    height: 28px;
    display: flex;
}

.tooth-item {
    width: 13%;
}

.tooth-item-top {
        background: linear-gradient(black, white);
        border-radius: 0 0 45px 45px;
}
.tooth-item-bottom {
    background: linear-gradient(white, black);
    border-radius: 45px 45px 0 0;
}

.outline-left{
    width: 80px;
    height: 206px;
    background-color: white;
    position: absolute;
    left: 97px;
    top: 271px;
    transform: rotate(166deg);
}






