html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
}

.alien-head{
    flex-direction: column;
    align-items: center;
    display: flex;
}

.head-top{
    width: 500px;
    height: 250px;
    border-top-left-radius:500px;
    border-top-right-radius: 500px;
    background-color: black;
    justify-content: center;
    display:flex;
}

.ellipse {
    top: 40px;
    width: 100px;
    height: 40px;
    background: radial-gradient(white,rgb(131, 131, 131) );
    border-radius: 70%;
    margin-top: 15px;
}

.head-separator{
    width:520px;
    height: 15px;
    background-color: black;
    border-radius: 5px 5px 5px 5px;
}








